body{
    background-image: linear-gradient(90deg ,black 10%,white ,black );
}
.banner{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner .product{
    /*background-color: red;*/
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left:980px;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left:0px;
    display: flex;
}
.banner .product .soda{
    background:var(--url) var(--left) 0,
    url(freepik-export-20241120183758ofcy.png);
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2/4;
    background-blend-mode: multiply;
    mask-image: url(freepik-export-20241120183758ofcy.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);

    
}
.banner .product:hover{
    --left:-1070px;
    transform: translateX(-50%) translateY(-40%);
}
.banner .product .soda:nth-child(2){
    opacity: 0;
}
.banner .product:hover .soda:nth-child(2){
    opacity: 1;
}
.banner{
    position: relative;
}
